<%= form_for(zoekertje) do |f| %>
  <% if zoekertje.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(zoekertje.errors.count, "error") %> prohibited this zoekertje from being saved:</h2>

      <ul>
      <% zoekertje.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <%= f.label :description %>
    <%= f.text_field :description %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
