<p id="notice"><%= notice %></p>

<h1>Zoekertjes</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @zoekertjes.each do |zoekertje| %>
      <tr>
        <td><%= zoekertje.title %></td>
        <td><%= zoekertje.description %></td>
        <td><%= link_to 'Show', zoekertje %></td>
        <td><%= link_to 'Edit', edit_zoekertje_path(zoekertje) %></td>
        <td><%= link_to 'Destroy', zoekertje, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Zoekertje', new_zoekertje_path %>
